@page "/form"
@using Microsoft.Extensions.Logging
@inject ILogger<Form> Logger

<EditForm Model="@exampleModel" OnSubmit="@HandleSubmit">
    Name:
    <InputText id="name" @bind-Value="exampleModel.Name" /><br />
    Qty:
    <InputText id="qty" @bind-Value="exampleModel.Qty" /><br />
    <p role="status">Name: @exampleModel.Name @exampleModel.Qty </p>
    <button type="submit">Submit</button>
</EditForm>

@code {
    private ExampleModel exampleModel = new();

    private void HandleSubmit()
    {
        Logger.LogInformation("HandleSubmit called");

        // Process the form
    }
}